.movie-card{ 
    background-color: grey;
    border: 5px solid black;
    border-radius: 10px;
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
}

.movie-card:hover{
    
}

.title{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}


.votes{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.movie-image{
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.movie-box{
    background-color: blanchedalmond;
    height: 80px;
}