.movie-card {
  background-color: grey;
  border: 0.3em solid rgb(236, 202, 6);
  border-radius: 0.5em;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0.15em 0.3em rgba(255, 0, 0, 0.15);
  cursor: pointer;
  width: 100%;      /* Let grid control the width */
  height: auto;     /* Let content dictate height */
  margin: 0;        /* Remove left margin */
  padding: 0.5em;   /* Add a little padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie-card:hover{
    transform: scale(1.05); /* Slightly enlarge the card */
     /* Add a shadow for depth */
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;

}


.votes{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;

}

.movie-image{
    background-size: cover;
    width: 100%;
    height: 50%;
}

.heart-watched{
    display: flex;
    justify-content: center;
}

.heart{
  color: #ccc; /* default color is gray */
}
.heart.clicked{
  color: #ff69b4; /* turn red when clicked */
}
.watch-box{
    border: 2px solid  rgb(236, 202, 6);

}
.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.checkbox:checked {
    background-color: #66bb6a;
}
.watched-text {
    font-size: 16px;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
}
.watched-text:hover {
    text-decoration: underline;
}